<h1>Listing songs</h1>

<%= will_paginate @songs %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'songs/song_tr', :collection => @songs, :as => :song %>
</table>

<br />

<% content_for :submenu do %>
  <%= link_to 'New Song', new_song_path %>
<% end %>
