/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Navigation */
body {margin: 0;}
nav ul {margin: 0; padding: 8px 8px 4px 8px; background: #000; height: 20px; list-style: none;}
nav ul li {margin-right: 8px; float: right;}
nav ul li a {color: #FFF !important; text-decoration: none;}
nav ul li a:hover {color: #666 !important; text-decoration: underline;} 
section#content {margin: 2px 8px;}